@use "../../assets/sass/_variables.scss" as *;

.beerCard {
&__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  box-shadow: 0rem 0rem 0.5rem 0.5rem $tertiary-color;
  padding: 1rem;
  cursor: pointer;
  width: 5rem;
}
&__picture {
  width: 5rem;

&__data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5rem;
}

&__description {
  &-title {
  padding: 1rem;
}
  &-text {
  padding: 1rem;
  }
}
}
}

@media screen and (min-width: 961px) {
  .card__container:hover {
    background-color: $primary-color;
  }

  .card__container {
    height: 15rem;
  }
}