@use "../../assets/sass/_variables.scss" as *;

.nav-bar {
  &__header {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-top: 2rem;
    color: $primary-color;
  }
  &__container {
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: none;
  margin-right: 1.5rem;
}
  &__filter-boxes {
    padding: 0.5rem;
  }
}

@media screen and (min-width: 961px) {
  .nav-bar__container {
    min-height: 100vh;
  }

  .nav-bar__checkboxes {
    margin: 2rem;
  }
}
