@use "../../assets/sass/_variables.scss" as *;

.nav-bar {
  &__container {
  background-color: $secondary-color;
  border-bottom: 2px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: none;
  }
&__filter-boxes {
  padding: 0.5rem;
  }
}

@media screen and (min-width: 961px) {
  .nav-bar__container {
    min-height: 100vh;
  }

  .nav-bar__filter-boxes {
    margin: 2rem;
    }
  }
