@use "../../assets/sass/_variables.scss" as *;

.beerGallery {
  display: flex;
  flex-direction: row;
  flex: wrap;
  justify-content: flex-end;
  align-content: right;
  margin-left: 10rem;
  background-color: $tertiary-color;
  border-radius: 12px;
  border: solid 7px $primary-color;
  padding: 0.5rem;

  

}

@media screen and (min-width: 961px) {
.beerGallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem;
  }
}