@use "../../assets/sass/variables" as *;

.filterbox {
    &__container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  padding-bottom: 1.5rem;
  padding-left: 2.5rem;
  color: $primary-color;
    }

  }

@media screen and (min-width: 961px) {
  .filterblock__container {
    width: 15rem;
    margin: 0.5rem;
    }
}
