@use "./assets/sass/_variables.scss" as *;
@use "./assets/sass/_typography.scss" as *;

* {
    padding: 0;
    margin: 0;
}

.app{
    &__container {
    display: block;
    background-color: $tertiary-color;
    }
    &__header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: $secondary-color;
        &__title{
            text-align: center;
            padding: 0.5rem;
            background-color: $secondary-color;
            color: $primary-color;
            }
        &__logo { 
            justify-content: left;
            }
        }
    &__main {
        display: flex;
        flex-direction: row;
        background-color: $secondary-color;

    }


.main {
    display: inline-flex;
    flex-direction: column;
    &__nav-sidebar{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        width: 25%;
    }
    &__beer-gallery {
        display: flex;
        flex: wrap;
        
        flex-direction: column;
        width: 25%;
        
    }

}

@media screen and (min-width: 961px) {
    .punk--title {
        padding: 1.5rem;
    }

    .punk__main {
        display: flex;
        flex-direction: row;
    }
}
}