@use "./assets/sass/_variables.scss" as *;
@use "./assets/sass/_typography.scss" as *;

.punk--title {
    text-align: center;
    padding: 0.5rem;
    background-color: $secondary-color;
    color: $primary-color;
}

@media screen and (min-width: 961px) {
    .punk--title {
        padding: 1.5rem;
    }

    .punk__main {
        display: flex;
        flex-direction: row;
    }
}