$primary-color:  #FFEFD6;
$secondary-color: #108EBC;
$tertiary-color: #384E77;
$quarternary-color: #8BBEB2;
$quinary-color: #FEDC97;

$border-color: #22031F; 
$text-color-one: #FFFFFF;
$text-color-two: #000000;
